
{% extends 'layout.html' %}

{% block title %}
Contact us
{% endblock %}

{% block content %}
    <div id="contact" class="contact-area section-padding">
	<div class="container">
		<div class="section-title text-center">
			<h1>Get in Touch</h1>
		</div>
		<div class="row">
			<div class="col-lg-7">
				<div class="single_address">
					<i class="fa fa-map-marker"></i>
					<h4>Our Address</h4>
					<p>3481 Biscayne blvrd, Miami, Florida</p>
				</div>
				<div class="single_address">
					<i class="fa fa-envelope"></i>
					<h4>Send your message</h4>
					<p>Info@moto.com</p>
				</div>
				<div class="single_address">
					<i class="fa fa-phone"></i>
					<h4>Call us on</h4>
					<p>(+1) 333 444 9999</p>
				</div>
				<div class="single_address">
					<i class="fa fa-clock-o"></i>
					<h4>Work Time</h4>
					<p>Mon - Fri: 08.00 - 16.00. <br>Sat: 10.00 - 14.00</p>
				</div>
			</div><!--- END COL -->
		</div><!--- END ROW -->
	</div><!--- END CONTAINER -->
</div>
{% endblock %}