{% extends 'layout.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning" role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
</div>
    <div class="container">
    <h3>Dealer: {{ dealer.full_name }}</h3>
    <h4>City: {{ dealer.city }}</h4>
        <div class="card-columns">
    {% for review in reviews %}
    <div class="col">
        <div class="col-auto mb-3">
                <div class="card">
             {% if review.sentiment == "positive" %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/positive.png" width="36px" height="36px"
                             alt="Sentiment">
                    {% elif review.sentiment == "negative" %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/negative.png" width="36px" height="36px"
                                   alt="Sentiment">
                        {% else %}
                        <img class="card-img-left" src="{{MEDIA_URL}}/emoji/neutral.png" width="36px" height="36px"
                                   alt="Sentiment">
                    {% endif %}
                <div class="card-body bg-light">
            <h3>Name: {{ review.name }}</h3>
            <p>Purchase: {{ review.purchase }}</p>
            {% if review.purchase %}
                <p>Purchase date: {{ review.purchase_date }}</p>
                <p>Car make: {{ review.car_make }}</p>
                <p>Car model: {{ review.car_model }}</p>
                <p>Car year: {{ review.car_year }}</p>
            {% endif %}
            <p>Review: {{ review.review }}</p>
{#            <p>Sentiment: {{ review.sentiment }}</p>#}
                </div>
                </div>
        </div>
    </div>
    {% endfor %}
</div>
    </div>
{#            {% for dealer in dealership_list %}#}
{#                <tr>#}
{#                    <td>{{dealer.id}}</td>#}
{#                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>#}
{#                    <td>{{dealer.city}}</td>#}
{#                    <td>{{dealer.address}}</td>#}
{#                    <td>{{dealer.zip}}</td>#}
{#                    <td>{{dealer.st}}</td>#}
{#                </tr>#}
{#            {% endfor %}#}

    </div>


{% endblock %}